body {
  padding: 2em 20%;
  background-color: #424242;
}

.article {
  /*border: solid black 1px;*/
  padding: 1em 1.5em;
  background: #fff;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
  border-radius: 0.5em;
}
